body{
	background-color: orange;
}


#entete{
	/* margin: auto;
	margin-right: auto;
	margin-left: auto; */
	
}

table-1{
	margin: auto;
}

thead{
	background-color: fuchsia;
}

td a{
	display: inline-block;
	margin-left: 5 px;
}